<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.dahuntun.wxshop.entity.ShoppingCartData" alias="ShoppingCartData" />
        <typeAlias type="com.dahuntun.wxshop.entity.ShoppingCartGoods" alias="ShoppingCartGoods" />
        <typeAlias type="com.dahuntun.wxshop.generate.Shop" alias="Shop" />
        <typeAlias type="com.dahuntun.api.data.GoodsInfo" alias="GoodsInfo" />
    </typeAliases>
    <mappers>
        <mapper resource="db/mybatis/mappers/UserMapper.xml"/>
        <mapper resource="db/mybatis/mappers/GoodsMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ShopMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ShoppingCartMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ShoppingCartQuery.xml"/>
        <mapper resource="db/mybatis/mappers/GoodsStockMapper.xml"/>
    </mappers>
</configuration>
